* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background: #EEEEEE;
}

#header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

#header-content {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}

#name, #title {
    font-weight: 400;
}

#name {
    font-size: 32px;
}

#title {
    color: #AAAAAA;
    font-size: 18px;
}

#self-photo {
    height: 200px;
    border-radius: 25px;
    margin-right: 20px;
}

#social-icons {
    padding-top: 6px;
}

#social-icons a {
    text-decoration: none;
}